:root {
    --baseColor: #FFFFFF;
    --spacing: 0px;
    --blur: 10px;
    --radius: 10px;
  }
  
  body {
      font-family: 'Inter', Prompt, sans-serif;
      text-align : center;
  }
  
  input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
  }
  
  .image-search {
      border-radius: var(--radius);
      margin: 0px 5px 6px 5px;
      filter: blur(var(--blur));
      padding: var(--spacing);
      background: var(--baseColor);
  }
  
  .image-search:hover {
        border-radius: var(--radius);
        box-shadow: 0px 2px 40px 1px rgba(0,0,0,0.5);
  }